table{

width:100%;

background:white;

border-collapse:collapse;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

th{

background:#003366;

color:white;

padding:18px;

}

td{

padding:18px;

border-bottom:1px solid #ddd;

}

.approve{

background:#16a34a;

}

.reject{

background:#dc2626;

}

.change{

background:#eab308;

}

button{

padding:10px 20px;

border:none;

color:white;

border-radius:8px;

margin:3px;

}