*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
}

/* ===========================
      TOP HEADER
=========================== */

.top-header{

    height:110px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    background:white;

    box-shadow:0 2px 8px rgba(0,0,0,.05);

}

/* ===========================
        LOGO
=========================== */

.logo-container{

    display:flex;

    align-items:center;

    gap:30px;

}

.logo{

    width:240px;

    object-fit:contain;

}

.portal-title{

    border-left:2px solid #ddd;

    padding-left:30px;

}

.portal-title h2{

    color:#0c2c68;

    font-size:32px;

    margin-bottom:8px;

    font-weight:700;

}

.portal-title p{

    color:#555;

    font-size:17px;

    line-height:28px;

}

/* ===========================
      RIGHT SECTION
=========================== */

.header-right{

    display:flex;

    align-items:center;

    gap:35px;

}

.icon{

    font-size:22px;

    color:#12367d;

    cursor:pointer;

}

.profile{

    display:flex;

    align-items:center;

    gap:12px;

    cursor:pointer;

}

.profile img{

    width:48px;

    height:48px;

    border-radius:50%;

    border:2px solid #f28c28;

}

.profile span{

    color:#163c7a;

    font-size:20px;

    font-weight:500;

}

.dropdown-icon{

    color:#163c7a;

}

/* ===========================
      NAVBAR
=========================== */

.navbar{

    height:60px;

    background:#0d255f;

    border-bottom:4px solid #f7941d;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

}

.nav-left{

    display:flex;

    gap:25px;

}

.nav-left a{

    color:white;

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:8px;

    font-size:17px;

    padding:18px 22px;

    transition:.3s;

}

.nav-left a:hover{

    background:#183f8f;

}

.nav-right{

    display:flex;

    align-items:center;

    gap:12px;

    color:white;

    font-size:16px;

}

/* ===========================
      RESPONSIVE
=========================== */

@media(max-width:992px){

.top-header{

flex-direction:column;

height:auto;

padding:20px;

gap:20px;

}

.logo-container{

flex-direction:column;

text-align:center;

}

.portal-title{

border:none;

padding:0;

}

.logo{

width:180px;

}

.navbar{

flex-direction:column;

height:auto;

padding:15px;

gap:10px;

}

.nav-right{

font-size:14px;

}

}